AssetBundle/
AssetBundleTemp/

Assets/AssetBundles/
Assets/Res/
Assets/Res
Assets/StreamingAssets/
Assets/AssetBundles.meta
Assets/Res.meta
Assets/StreamingAssets.meta

ART/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store

.vs